body {
    margin: 0;
    padding: 0;
    overflow: visible;
}

#map {
    height: 100vh;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: brightness(500%) contrast(130%);
}

.leaflet-tile-pane {
    filter: brightness(50%);
}

.legend {
    border: solid #999999 3px;
    color: #eee;
    background-color: rgba(44, 44, 44, .8);
    padding: 1em;
}

#legendOccGrad {
    background-image: linear-gradient(to right, transparent, red);
    padding: 0 2em;
    text-align: center;
    text-shadow: black .2em .2em;
}